.dashboard {
    display: flex;
    overflow: hidden;
    background-color: #1c1b1dff;
}

.content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #1c1b1dff;
    border-bottom: 2px solid #282a2cff;
    width: 100%;
    height: 15px;
}

.sendEmail {
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 55%;
    font-size: 12px;
    background: black;
    color: white;
    border-radius: 5px;
}

.sendEmail:hover {
    background-color: #dee2e6;
    color: black;
}

.sendEmail:active {
    background-color: #98b2cb;
    color: black;
}

.profilePicture {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 12%;
    margin-bottom: 10px;
}

.title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    color: white;
}

.userDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userDetailBox {
    border: none;
    padding: 10px;
    background-color: #282a2cff;
    width: 29%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(40, 42, 44, 0.1);
    margin-right: 15px;
}

.userDetailsBox {
    border: none;
    padding: 20px;
    background-color: #282a2cff;
    border-radius: 5px;
    width: 29%;
    color: white;
    display: flex;
    margin-left: 20px;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(40, 42, 44, 0.2);
}

.userProfilePicture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.smallHeading {
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: semi-bold;
    color: white;
}

.largerText {
    font-size: 30px;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.smallerText {
    font-size: 15px;
    padding-left: 10px;
    margin-top: -20px;
    color: #8f9296;
}

.detailsAndGraph {
    display: flex;
    flex-direction: column;
}

.graph {
    border: none;
    padding: 20px;
    background-color: #282a2cff;
    width: 57%;
    height: 350px;
    margin-top: 20px;
    margin-left: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.graphPlusClasses {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.currentClasses {
    border: none;
    padding: 20px;
    background-color: #282a2cff;
    border-radius: 5px;
    width: 32%;
    display: flex;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.graphImage {
    width: 100%;
    height: 100%;
}

.fontSizes {
    font-weight: bold;
    font-size: 25px;
    background: linear-gradient(45deg, #d66574ff, #5d7fe7ff);
    /* Apply gradient to background */
    -webkit-background-clip: text;
    /* Clip background to text */
    -webkit-text-fill-color: transparent;
    /* Set text fill color to transparent */
}

.otherText {
    font-size: 15px;
    color: #8f9296;
    margin-top: 60px;
    margin-right: 260px;
    margin-left: -80px;
}

.gradeText {
    font-size: 15px;
    color: #8f9296;
    margin-top: 60px;
}

.failedStatus {
    border: none;
    padding: 20px;
    padding-top: 10px;
    background-color: #282a2cff;
    border-radius: 5px;
    width: 680px;
    display: flex;
    margin-left: 22px;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(40, 42, 44, 0.1);
    flex-direction: column;
    height: 85px;
}

.atRiskText {
    font-size: 60px;
    color: #d90404;
    font-weight: bold;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}

.passingText {
    font-size: 60px;
    color: #1d8d0e;
    font-weight: bold;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.failedProbability {
    border: none;
    padding: 20px;
    padding-top: 10px;
    background-color: #282a2cff;
    border-radius: 5px;
    width: 380px;
    height: 100px;
    display: flex;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(40, 42, 44, 0.1);
    flex-direction: column;
    height: 85px;
}

.failureText {
    font-size: 30px;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #d90404;
}