.navigationPanel {
    width: 250px;
    height: 100vh;
    background-color: #282a2cff;
    border-right: 2px solid #282a2cff;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    max-height: 100vh;
    overflow-y: auto;
}

.searchBar {
    width: 92%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(71, 73, 74);
    color: white;
    font-weight: bold;
}

.filterSelect {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(71, 73, 74);
    color: white;
    font-weight: bold;
}

.userList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.userList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #1c1b1dff;
    display: flex;
    align-items: center;
}

.userList li:hover {
    background-color: #1c1b1dff;
}

.userList li.active {
    background-color: #1c1b1dff;
}

.completeProfile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profilePictures {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.usernamePart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.userName {
    font-weight: bold;
    color: white;
}

.userSubText {
    font-size: 12px;
    color: #a0a7ac;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.subheadings {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}